
# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

*.exe

bin/

.vscode/

*.sln

Tic_Tac_Toe.vcxproj

Tic_Tac_Toe.vcxproj.filters

Tic_Tac_Toe.vcxproj.user

x64/

.vs/
